<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Chat App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div id="chatbody">
        <div id="top-banner">
            <h3>ChatBoard</h3>
        </div>
        <div id="chatbox">
            <!-- <div class="message msg0">User connected</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg2">Me: Hello</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg1">User1: Hi</div>
            <div class="message msg2">Me: WTF?</div> -->
        </div>
        
        <form action="/" method="post" id="chat-input">
            <input type="text" name="msgbox" id="msgbox" autocomplete="off">
            <input type="submit" id="submit" value="Send">
        </form>
        
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/script.js"></script>
</body>
</html>